---
dist: bionic
language: python
os: linux
python: "3.7"
env:
  global:
    - VERSION=0.0.1
    - IMAGE_NAME=myimage
    - USERNAME=massipssa

# stages names from jobs
stages: 
  - test
  - deploy
  - push
  
# services to install
services:
  - docker

jobs:
  include:
    - name: "Test with py 3.7"
      stage: test
      python: "3.7"
      install:
        - make pip-install
    - name: "deploy"
      stage: deploy
      install:
        - make upgrade-setuptools
    - name: "Build and push image to Docker Hub"
      stage: push
      install:
        - ./scripts/docker-image.sh push

# install required dependencies
install: skip
  # - pip install -r requirements.txt

script:
  - pytest

notifications:
  email: false