---
dist: bionic
language: python
os: linux
python: "3.7"
sudo: required
env:
  global:
    - VERSION=0.0.1
    - IMAGE_NAME=myimage
    - USERNAME=massipssa

# stages names from jobs
stages: 
  - test
  - deploy
  - push
  
# services to install
services:
  - docker

jobs:
  include:
    - name: "Test with py 3.7"
      stage: test
      python: "3.7"
      install:
        - make pip-install
        #- pytest
    - name: "Deploy package to PyPI"
      stage: deploy
      install:
        - make setup
        - make deploy
    - name: "Build and push image to Docker Hub"
      stage: push
      install:
        - ./scripts/docker-image.sh push

before_install:
  - chmod +x ./scripts/docker-image.sh

# install required dependencies
install:
  - make pip-install

#script:
#  - pytest

notifications:
  email: false
