---
dist: bionic
language: python
os: linux
python: "3.7"
env:
  global:
    - VERSION=0.0.1
    - TAG=myimage
    - REPO=massipssa
# stages names from jobs
stages: 
  - test
  - deploy
  - build
  - push
  
# services to install
services:
  - docker

jobs:
  include:
    - name: "Test with py 3.7"
      stage: test
      python: "3.7"
      install:
        - make pip-install
    - name: "deploy"
      stage: deploy
      install:
        - make upgrade-setuptools
    - name: "Build docker image"
      stage: build
      install:
        - docker build -t $REPO/$TAG:$VERSION .
    - name: "Push docker image"
      stage: push
      install: skip

# install required dependencies
install: skip
  # - pip install -r requirements.txt

script:
  - pytest
