---
dist: bionic
language: python
os: linux
python: "3.7"
env:
  global:
    - VERSION=0.0.1
    - IMAGE_NAME=myimage
    - USERNAME=massipssa
    #- PASSWORD=toto
# stages names from jobs
stages: 
  - test
  - deploy
  - build
  - push
  
# services to install
services:
  - docker

jobs:
  include:
    - name: "Test with py 3.7"
      stage: test
      python: "3.7"
      install:
        - make pip-install
    - name: "deploy"
      stage: deploy
      install:
        - make upgrade-setuptools
    - name: "Build docker image"
      stage: build
      install:
        - docker login -u $USERNAME -p $PASSWORD
        - docker build -t $USERNAME/$IMAGE_NAME:$VERSION .
        - docker push $USERNAME/$IMAGE_NAME:$VERSION
    - name: "Push docker image to Docker Hub"
      stage: push
      install: skip

# install required dependencies
install: skip
  # - pip install -r requirements.txt

script:
  - pytest

notifications:
  email: false