---
dist: bionic
language: python
os: linux
python: "3.7"
stages: 
  - test
jobs:
  include:
    - name: "Test with py 3.7"
      python: "3.7"
# install required dependencies
install:
  - pip install -r requirements.txt
script:
  - pytest